<root>

<client>
<worldboundingboxmin x="-50" y="-50" z="-50" />
<worldboundingboxmax x="50" y="50" z="50" />
<movement acceleration="3" verticalmovespeed="2" movespeed="4" deceleration="1" turnspeed="0.25"/>
  <keymappings description="keyboard mappings">
    <keyreference>
You can select a key value from any of the following values:
Available keys are:
a-z, 1-9, f1, f9,
uparrow, leftarrow, rightarrow, downarrow,
spacebar, shift, alt, ctrl, delete, enter
    </keyreference>
    <key command="quit" keycode="escape"/>
    
    <key command="mouselook" keycode="ctrl"/>
    
    <key command="moveleft" keycode="a"/>
    <key command="moveleft" keycode="leftarrow"/>
    <key command="moveright" keycode="d"/>
    <key command="moveright" keycode="rightarrow"/>
    <key command="moveforwards" keycode="w"/>
    <key command="moveforwards" keycode="uparrow"/>
    <key command="movebackwards" keycode="s"/>
    <key command="movebackwards" keycode="downarrow"/>
    <key command="moveup" keycode="e"/>
    <key command="movedown" keycode="c"/>
    
    <key command="fly" keycode="F"/>
    <key command="jump" keycode="spacebar"/>
    
    <key command="cameramode" keycode="alt"/>
    <key command="cameraorbit" keycode="ctrl"/>
    <key command="camerapan" keycode="shift"/>
    
    <key command="editmode" keycode="z"/>
    <key command="editscale" keycode="x"/>
    <key command="editrotation" keycode="v"/>
    <key command="editalternativeaxes" keycode="c"/>
    
    <key command="selectobject" keycode="shift"/>
    <key command="selectindividual" keycode="ctrl"/>
    
    <key command="delete" keycode="delete"/>
    
    <key command="help" keycode="f1"/>
    <key command="toggleviewpoint" keycode="f9"/>
    
    <key command="activatechat" keycode="enter"/>
  </keymappings>
</client>
<config debuglevel="3">
</config>
<server port="2501" ipaddress="127.0.0.1">
</server>
</root>
