BODY {
	MARGIN: 0px; COLOR: black; BACKGROUND-COLOR: white
}
TD.navbarLayout {
	BACKGROUND-COLOR: #004c99
}
TD.topbarLayout {
	BACKGROUND-COLOR: #004c99
}
TD.navbarLayout {
	FONT-SIZE: 10px; FONT-FAMILY: verdana,arial,helvetica,sans-serif
}
TD.topbarLayout {
	PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
TD.topbarLayout IMG {
	DISPLAY: block
}
A.plain {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
TD.navbarLayout DIV.menu {
	MARGIN: 4px; OVERFLOW: hidden; WIDTH: 160px
}
TD.navbarLayout DIV.menu A {
	DISPLAY: block; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; COLOR: white; TEXT-DECORATION: none
}
TD.navbarLayout DIV.menu A:link {
	DISPLAY: block; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; COLOR: white; TEXT-DECORATION: none
}
TD.navbarLayout DIV.menu A:visited {
	DISPLAY: block; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; COLOR: white; TEXT-DECORATION: none
}
TD.navbarLayout DIV.menu A:hover {
	DISPLAY: block; COLOR: #003366; BACKGROUND-COLOR: white
}
TD.navbarLayout DIV.menu A:active {
	DISPLAY: block; COLOR: #003366; BACKGROUND-COLOR: white
}
TD.navbarLayout DIV.menu A.level1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
TD.navbarLayout DIV.menu A.level2 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; MARGIN-LEFT: 8px
}
TD.navbarLayout DIV.menu BR.nv {
	DISPLAY: none
}
TD.navbarLayout FORM.find {
	MARGIN-TOP: 16px
}
TD.navbarLayout FORM.find INPUT.text {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 10px; MARGIN-LEFT: 4px; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid
}
TD.navbarLayout FORM.find INPUT.button {
	BORDER-RIGHT: #ddeeff 1px outset; BORDER-TOP: #ddeeff 1px outset; FONT-SIZE: 10px; BORDER-LEFT: #ddeeff 1px outset; BORDER-BOTTOM: #ddeeff 1px outset; BACKGROUND-COLOR: #ddeeff
}
TD.navbarLayout DIV.footer {
	MARGIN: 4px; OVERFLOW: hidden; WIDTH: 160px; COLOR: white
}
TD.navbarLayout DIV.footer A {
	FONT-WEIGHT: bold; COLOR: white; TEXT-DECORATION: none
}
TD.navbarLayout DIV.footer A:link {
	FONT-WEIGHT: bold; COLOR: white; TEXT-DECORATION: none
}
TD.navbarLayout DIV.footer A:visited {
	FONT-WEIGHT: bold; COLOR: white; TEXT-DECORATION: none
}
TD.navbarLayout DIV.footer A:hover {
	FONT-WEIGHT: bold; COLOR: white; TEXT-DECORATION: none
}
TD.navbarLayout DIV.footer A:active {
	FONT-WEIGHT: bold; COLOR: white; TEXT-DECORATION: none
}
TD.contentLayout {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10pt; PADDING-BOTTOM: 0px; COLOR: black; PADDING-TOP: 5px; FONT-FAMILY: verdana,arial,helvetica,sans-serif; BACKGROUND-COLOR: white
}
TABLE.contentLayout {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10pt; PADDING-BOTTOM: 0px; COLOR: black; PADDING-TOP: 5px; FONT-FAMILY: verdana,arial,helvetica,sans-serif; BACKGROUND-COLOR: white
}
TD.contentLayout A:link {
	COLOR: blue
}
TD.contentLayout A:visited {
	COLOR: purple
}
TD.contentLayout A:active {
	COLOR: red
}
TD.contentLayout A:hover {
	COLOR: red
}
TD.contentLayout UL {
	LIST-STYLE-TYPE: disc
}
TD.contentLayout UL UL {
	LIST-STYLE-TYPE: circle
}
TD.contentLayout .noMargin {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
TD.contentLayout .bigBoldSansSerif {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; FONT-FAMILY: verdana,arial,helvetica,sans-serif
}
TD.contentLayout H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; FONT-FAMILY: verdana,arial,helvetica,sans-serif
}
TD.contentLayout A.bookImage:link {
	COLOR: black
}
TD.contentLayout A.bookImage:visited {
	COLOR: black
}
A.bookImage {
	COLOR: black
}
A.bookImage:link {
	COLOR: black
}
A.bookImage:visited {
	COLOR: black
}
TD.contentLayout A.bookImage:active {
	COLOR: red
}
TD.contentLayout A.bookImage:hover {
	COLOR: red
}
A.bookImage:active {
	COLOR: red
}
A.bookImage:hover {
	COLOR: red
}
TD.contentLayout .bookTitle {
	FONT-WEIGHT: 500; FONT-SIZE: 14pt; FONT-FAMILY: verdana,arial,helvetica,sans-serif
}
